@page "/all-leaves"
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using SAPConnection.Areas.Identity.Data;
@using SAPConnection.Data;
@inject LeaveService leaveService
@inject IJSRuntime JSRuntime

@inject IHttpContextAccessor httpContextAccessor

@inject UserManager<ApplicationUser> userManager
@inject IHttpContextAccessor httpContextAccessor
@inject Microsoft.EntityFrameworkCore.DbContextOptions<SAPConnectionContext> dbContextOptions

<CascadingAuthenticationState>
    <AuthorizeView>

        <NotAuthorized>
            @{
                <RedirectTo></RedirectTo>

            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


<h3>All Leaves</h3>



<h1>Leaves</h1>

@if (leaves == null)
{
    <p><em>Loading...</em></p>
}
else if (leaves.Count == 0)
{
    <p><em>No leaves found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Reason</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Type</th>
                <th>Submission Status</th>
                <th>Approval Status</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leave in leaves)
            {
                <tr>
                    <td>@leave.Id</td>
                    <td>@leave.Reason</td>
                    <td>@leave.FromDate.ToShortDateString()</td>
                    <td>@leave.ToDate.ToShortDateString()</td>
                    <td>@leave.LeaveType</td>
                    <td>@leave.submissionStatus</td>
                    <td>@leave.approvalStatus</td>


                    <td>
                        @if(leave.submissionStatus == SubmissionStatus.Draft)
                        {
                            <a class="btn btn-primary" href="@($"/leaves/{leave.Id}")"><i class="bi bi-pencil-square"></i> Edit</a>
 
                        }
                       

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<LeaveModel> leaves;
    string Pno;

    protected override async Task OnInitializedAsync()
    {
        
        var user = await userManager.GetUserAsync(httpContextAccessor.HttpContext.User);

        using var context = new SAPConnectionContext(dbContextOptions);

        var pno = await context.Users
            .Where(u => u.Id == user.Id)
            .Select(u => u.Pno)
            .FirstOrDefaultAsync();
        Pno = pno.ToString();

        leaves = await leaveService.GetLeavesAsync(Pno);
    }

    private async Task DeleteLeave(int id)
    {
        if (await JSRuntime.InvokeAsync<bool>("confirm", new object[] { "Are you sure you want to delete this leave request?" }))
        {
            await leaveService.DeleteLeaveAsync(id);
            leaves = await leaveService.GetLeavesAsync(Pno);
        }
    }
}
