@page "/sap"

@inject IToastService toastService


<h3>SAP CONNECTION DEMO</h3>
<label for="pno">Personel Number</label>
<input @bind="@FieldPno" type="number" class="form-control" name="pno" id="pno" placeholder="Enter PNO">
<br />
<div class="text-center m-2">
    <button type="button" class="btn btn-success " @onclick="FetchDataFromSap">Fetch SAP DATA</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">P No.</th>
            <th scope="col">Full Name</th>
            <th scope="col">CNIC</th>
            <th scope="col">Designation</th>
            <th scope="col">Unit</th>
            <th scope="col">Department</th>
            <th scope="col">Joining Date</th>



        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Pno</th>
            <td >@Name</td>
            <td>@CNIC</td>
            <td>@Designation</td>
            <td>@Unit</td>
            <td>@Department</td>
            <td>@JoiningDate</td>


        </tr>
       
    </tbody>
</table>



@code {
    string Name;
    string CNIC;
    string Designation;
    string Unit;
    string Pno;
    string Department;
    string JoiningDate;

    string FieldPno;


    void FetchDataFromSap()
    {
        string connectionString = "AppServerHost=10.1.25.168; SystemNumber=00; User=abapdev; Password=Ffbl@786#; Client=300; Language=EN; PoolSize=5; Trace=8";

        using var connection = new SapNwRfc.SapConnection(connectionString);

        connection.Connect();
        var someFunction = connection.CreateFunction("ZBAPI_EMP_PRSNL_DETAILS");
        var result = someFunction.Invoke<SomeFunctionResult>(new SomeFunctionParameters
            {
                Pno = FieldPno,
            });

        try
        {
            
         Name = result.Items[0].Name.ToString();
        CNIC = result.Items[0].CNIC.ToString();
        Designation = result.Items[0].Designation.ToString();
        Unit = result.Items[0].Unit.ToString();
        Pno = result.Items[0].Pno.ToString();
        Department = result.Items[0].Department.ToString();
            JoiningDate = result.Items[0].JoiningDate.Date.ToString("dd/MM/yyyy");}
        catch(Exception e)
        {
            toastService.ShowError("No Record exists against the entered P.Number.");
        }

       



    }


}
